## Week 10 Lab (K Means)
### COSC 3337 Dr. Rizk

About The Data
We'll be using the Customer Dataset from kaggle for this lab, but feel free to follow along with your own dataset. The dataset contains the following attributes:

* CustomerID
* Genre
* Age
* AnnualIncome(k$)
* Spending_Score

Our goal is to group/cluster these customers.

## About K Means
K Means Clustering is an unsupervised learning algorithm that tries to cluster data based on their similarity. Unsupervised learning means that there is no outcome to be predicted, and the algorithm just tries to find patterns in the data. In k means clustering, we have the specify the number of clusters we want the data to be grouped into. The algorithm randomly assigns each observation to a cluster, and finds the centroid of each cluster. Then, the algorithm iterates through two steps: Reassign data points to the cluster whose centroid is closest. Calculate new centroid of each cluster. These two steps are repeated till the within cluster variation cannot be reduced any further. The within cluster variation is calculated as the sum of the euclidean distance between the data points and their respective cluster centroids. Refer back to the lecture video or slides for more detail on K Means.

### Implementation
Because K Means is used more for finding patterns in our data, we'll skip the data exploration portion, but you're welcome to explore this data or your own if working with a different dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from matplotlib import rcParams
rcParams['figure.figsize'] = 15, 5
sns.set_style('darkgrid')

Let's first load the data into a pandas DataFrame. We'll use the CustomerID column as our index_col for this DataFrame.

In [3]:
customer_df = pd.read_csv('customers.csv', index_col='CustomerID')
customer_df.head()

             Genre  Age  Annual_Income_(k$)  Spending_Score
CustomerID
1             Male   19                  15              39
2             Male   21                  15              81
3           Female   20                  16               6
4           Female   23                  16              77
5           Female   31                  17              40

In [5]:
customer_df['Genre'] = customer_df['Genre'].astype(str)

# Step 3: Set 'CustomerID' as the index
customer_df.set_index('Genre', inplace=True)

# Make a copy of the DataFrame
customer_df_copy = customer_df.copy()

# Display the first few rows of the DataFrame
print(customer_df_copy.head())

        Age  Annual_Income_(k$)  Spending_Score
Genre
Male     19                  15              39
Male     21                  15              81
Female   20                  16               6
Female   23                  16              77
Female   31                  17              40

In [ ]:
import pandas as pd

# Step 1: Read the CSV file without setting the index
customer_df = pd.read_csv('customers.csv')

# Step 2: Ensure 'CustomerID' is of type string
customer_df['CustomerID'] = customer_df['CustomerID'].astype(str)

# Step 3: Set 'CustomerID' as the index
customer_df.set_index('CustomerID', inplace=True)

# Make a copy of the DataFrame
customer_df_copy = customer_df.copy()

# Display the first few rows of the DataFrame
print(customer_df_copy.head())

calling **.info()** we see that there are no missing values in this dataset since there are 200 entries in total and 200 non-null entries in each column.