* Jacqueline Sanchez
* Cougarnet ID: Jsanche87
* COSC 3337 | Summer 2024
* Practice Assigment 1

In [1]:
import numpy as np

## Creating Arrays and Common Methods

The first way of creating a NumPy array is by converting your existing Python list.

In [2]:
python_list = [1, 2, 3, 4, 5]
print(python_list)
print(type(python_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [3]:
python_list1 = [2, 4, 5, 7, 9, 12]
print(python_list1)
print(type(python_list1))

[2, 4, 5, 7, 9, 12]
<class 'list'>

In [4]:
python_list2 = ['apple', 'blueberry', 'carrots']
print(python_list2)
print(type(python_list2))

['apple', 'blueberry', 'carrots']
<class 'list'>

In [6]:
# creating a numpy array! (:

In [5]:
numpy_array = np.array(python_list)
print(numpy_array)
print(type(numpy_array))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [10]:
python_2d_array = [[1 , 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
print(python_2d_array)
print(type(python_2d_array))

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
<class 'list'>

In [8]:
python_2d_array2 = [['a', 'b', 'c', 'd', 'e'], ['c', 'o', 'w', 's', 'moo']]
print(python_2d_array2)
print(type(python_2d_array2))

[['a', 'b', 'c', 'd', 'e'], ['c', 'o', 'w', 's', 'moo']]
<class 'list'>

In [9]:
# rows seem to be consider lists, interesting

In [11]:
numpy_2d_array = np.array(python_2d_array) #updating the current 2d array
print(numpy_2d_array)
print(type(numpy_2d_array))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
<class 'numpy.ndarray'>

In [11]:
numpy_2d_array2 = np.array(python_2d_array2)
print(numpy_2d_array2)
print(type(numpy_2d_array2))

[['a' 'b' 'c' 'd' 'e']
 ['c' 'o' 'w' 's' 'moo']]
<class 'numpy.ndarray'>

However, you are more likely to use some of NumPy's built in methods to generate ndarrays. Here we'll introduce you to a few of these built in methods.

**arrange(start,stop,step)** will return evenly spaced values within a given interval. The default step size is 1.

In [12]:
np.arange(0, 15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [21]:
np.arange(0, 15, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [14]:
np.arange(-5, 30, 5) # starts at -5 ends before 30 at intervals of 5

array([-5,  0,  5, 10, 15, 20, 25])

What if we wanted a 2d array instead? We can call **reshape(rows, columns)** on an existing NumPy array. Please note that the product of rows and columns must evaluate to the total number of elements in your current NumPy

In [24]:
np.arange(0, 15).reshape(3, 5) # this reshapes it to a 3x5 2d array!

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [17]:
np.arange(0, 15).reshape(5, 3) # this reshapes it to a 5x3 2d array!

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

If we'd like to generate an ndarry of zeroes or ones (useful with certain calculations), we could do so by simply calling **zeros** or **ones**. For example:

In [25]:
np.zeros(15)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [19]:
np.zeros(3)

array([0., 0., 0.])

In [29]:
np.zeros(15).reshape(3, 5) # there are 15 zeros in a 3x5 matrix!

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [20]:
np.zeros(15).reshape(5, 3) # there are 15 zeros in a 5x3 matrix!

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [31]:
np.ones(15) # returns a 1x15 row of 1's

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [21]:
np.ones(15).reshape(3, 5)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [25]:
np.ones(44).reshape(4, 11) # remind me of the functions used in Matlab

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

You might have noticed that these values defaulted to floats. If for some reason you'd like to use a different type, say, iint you can insert an additional *parameter* such as **dtype = int**. See more on dtypes [here](https://numpy.org/doc/stable/user/basics.types.html)

In [35]:
np.ones(15, dtype=int).reshape(3,5)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [27]:
np.ones(25, dtype=int).reshape(5,5)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

A common matrix used in linear algebra is the identity matrix (an nxn squared matrix with ones on the main diagonal and zeros elsewhere). We can generate this in the NumPy using **eye(n)**.

In [38]:
np.eye(5) # this function looks familiar, i've seen it using matlab! it returns the identity matrix of given dimension!

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [39]:
np.eye(5, dtype=int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [28]:
np.eye(4, dtype=int)

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

Another common use case is to generate an ndarray of random numbers. This can be done in 2 ways. **rand**(which will fill the ndarray with random samples from a uniform distribution over [0,1) ), and **randn** (which will return a sample (or samples_ from the standard normal distribution.) Additionally, we cam use **randint(low, high, size)** to generate a single or multiple random integers between [low, high). The size parameter specifies how many we'd like. Let's see a few examples.

In [29]:
np.random.rand(5) # from uniform distribution

array([0.7262465 , 0.05961022, 0.03088697, 0.69181218, 0.34345168])

In [30]:
np.random.randn(5) # from standard normal distribution

array([ 0.76791405, -0.08744332,  0.56510842,  0.55254406, -1.24805239])

In [31]:
np.random.randint(1,100) # returns a random number from 1-100

77

In [32]:
np.random.randint(1,210) # returns a random number from 1-210

198

Other common methods that you're like to encounter in this class includ **min**, **max**, **argmin**, and **argmax**. The only difference between the two arg methods is that they'll instead return the index position of the min/max value. For exmample:

In [38]:
A = np.random.randint(0, 100, 20).reshape(4,5)
A

array([[66, 63, 29, 24, 57],
       [68, 14, 86, 56, 61],
       [40, 36, 27, 35, 38],
       [84, 78, 86,  4, 78]])

In [39]:
B = np.random.randint(0, 10, 20).reshape(5,4) # returns a 4x5 matrix w/ numbers ranging from 0 to 10 (chose randomly!)
B

array([[0, 7, 3, 5],
       [5, 2, 7, 5],
       [5, 6, 5, 5],
       [0, 0, 1, 9],
       [0, 7, 8, 5]])

In [40]:
print(f'The smallest value in A is {A.min()}, and is located at position {A.argmin()}')
print(f'The largest value in A is {A.max()}, and is located at position {A.argmax()}')

The smallest value in A is 4, and is located at position 18
The largest value in A is 86, and is located at position 7

In [41]:
print(f'The smallest value in B is {B.min()}, and is located at position {B.argmin()}')
print(f'The largest value in A is {B.max()}, and is located at position {B.argmax()}')

The smallest value in B is 0, and is located at position 0
The largest value in A is 9, and is located at position 15

Lastly, we'll often find ourselves wanting to know the shape(dimensions) of our ndarray. This can be done by using **shape**

In [42]:
A.shape

(4, 5)

In [43]:
B.shape

(5, 4)

In [44]:
np.shape(A)

(4, 5)

Great! you now know how to create NumPy arrays and some of the common operations we can perform on these arrays.

## Common Operations

In [45]:
A = np.arange(1, 16)
B = np.arange(1, 30, 2)
C = np.arange(0, 4).reshape(2, 2)
D = np.arange(0, 4).reshape(2, 2)
E = np.arange(1, 16).reshape(3, 5)
G = np.arange(11)
print(f'A: {A}')
print(f'B: {B}')
print('C:')
print(C)
print('D:')
print(D)
print('E:')
print(E)
print(f'G: {G}')

A: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
B: [ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]
C:
[[0 1]
 [2 3]]
D:
[[0 1]
 [2 3]]
E:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
G: [ 0  1  2  3  4  5  6  7  8  9 10]

### Arithmetic

In [52]:
A+B

array([ 2,  5,  8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44])

In [53]:
A + 5

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [54]:
A - B

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10, -11, -12,
       -13, -14])

In [55]:
A - 5

array([-4, -3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [56]:
A * B

array([  1,   6,  15,  28,  45,  66,  91, 120, 153, 190, 231, 276, 325,
       378, 435])

In [57]:
A * 5

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75])

In [58]:
A / B

array([1.        , 0.66666667, 0.6       , 0.57142857, 0.55555556,
       0.54545455, 0.53846154, 0.53333333, 0.52941176, 0.52631579,
       0.52380952, 0.52173913, 0.52      , 0.51851852, 0.51724138])

In [60]:
A / 2

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5,
       7. , 7.5])

Note: Becareful dividing by zero. You'll get **nan** short for Not a number.

As you may have noticed, the standard operations *,+,-,/ work element-wise on arrays. If you'd like to instead do matrix multiplication, **matmul** can be used [here](https://www.mathsisfun.com/algebra/matrix-multiplying.html)

In [61]:
np.matmul(C, D)

array([[ 2,  3],
       [ 6, 11]])

## Universal Functions

NumPy also contains [universal functions](https://numpy.org/doc/stable/reference/ufuncs.html) which is a function that operates on ndarrays in an element-by-element fashion. Let's see a few examples.

In [62]:
np.sqrt(E)

array([[1.        , 1.41421356, 1.73205081, 2.        , 2.23606798],
       [2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766],
       [3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335]])

In [63]:
np.log(E)

array([[0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791],
       [1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509],
       [2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ]])

Something that will often come in handy is the **where(condition,x,y)** method. This will loop through every element in your ndarray and return a new ndarray that replaces the element with x if the condition is met, and y if the condition is not met. In the example below we're multiplying all odd numbers by 100, else replacing with -1. Try changing the -1 to G in the example below and see what happens.

In [64]:
np.where(G%2==0, -1, G*100)

array([ -1, 100,  -1, 300,  -1, 500,  -1, 700,  -1, 900,  -1])

Nice! Now that you know how to create NumPy arrays and perform basic operations on them, let's take a look at how to index and select certain elements.

### Indexing

Note: recall that counting starts from 0. Given an array [5,6,7,8], we say that value 5 is at index/position 0.

In [65]:
A = np.arange(15)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

Obtaining a single element will look similar to Python arrays:

In [68]:
print(f'A[0]: {A[0]}')
print(f'A[5]: {A[5]}')
print(f'A[14]: {A[14]}')

A[0]: 0
A[5]: 5
A[14]: 14

We can grab a section using **A[start_index : stop_index]**. stop_index is not inclusive.

In [69]:
A[0:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

We can also modify values in this way.

In [70]:
A[0:10] = 500
A

array([500, 500, 500, 500, 500, 500, 500, 500, 500, 500,  10,  11,  12,
        13,  14])

### Indexing a 2d array

In [72]:
B = np.arange(50).reshape(5,10)
B

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

Obtaining a single element can be done using **B[row, col]**.

In [73]:
print(f'Oth row and 2nd col in B: {B[0,2]}')
print(f'3rd row and 3rd col in B: {B[3,3]}')
print(f'4th row and 2nd col in B: {B[4,2]}')

Oth row and 2nd col in B: 2
3rd row and 3rd col in B: 33
4th row and 2nd col in B: 42

Similar to before, we can also grab a section of interest from this 2darray. Only now we have to specify both the row section of interest and column sections of interest. B[0:2, 3:5] says: I want rows 0-2 from B, but only the elements in that row corresponding to columns 3-5. Recall that stop_index is not inclusive. Here stop_index for the row is 2, and stop_indexfor the column is 5.

In [74]:
B[0:2, 3:5] = -1
B

array([[ 0,  1,  2, -1, -1,  5,  6,  7,  8,  9],
       [10, 11, 12, -1, -1, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

### Boolean Array Indexing

In [75]:
C = np.arange(50).reshape(10, 5)
C

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

A really cool feature of NumPy is that we can index arrays using comparison operators. This Lets us modify or select only elements meeting some condition. To demonstrate this, lets first see what is returned when we try to use comparison operators with our arrays.

In [76]:
C%2 == 0

array([[ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False]])

We get back an array of the same shape telling us which values in **C** satisfy the condition C%2==0 (even values). Recall that 0 is an alias for False, and 1 is an alias for True. Becuase of this, we can actually can the sum function right off this array, which will evaluate to the total number of even numbers in **C**.

In [77]:
(C%2 == 0).sum()

25

Something we'll find ourselves doing more often is passing the boolean array as an index. What this will do is filter out the False elements and only leave us with the elements corresponding to True (even values in our case).

In [78]:
C[C%2 == 0]

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

Congratulations! You now know how to create NumPy arrays, perform common operations on them, and how to index them. There's so much that NumPy can do, but this should cover just about all that you'll need to succeed in this course. Other popular Python libraries used for data science such as Pandas and Matplotlib are built on top of NumPy, so you'll be using a lot of these features alongside those libraries.